.navbar{
	position: fixed;
	font-size: 15px;
	width: 100%;
}

body{
	margin:0px;
	padding:0px;
	font-family: "Calibri", Sans-serif;
}

.center{
	padding: 30px 150px 30px 150px;
	font-size: 22px;
}
.navbar-list{
	list-style-type: none;		
	overflow: hidden;
	padding: 0px 150px 0px 150px;		
	margin: 0px;
	background-color: #3D007A;
}

#navbar-items{
	padding: 0px;
	margin: 0px;
	float: left;
}

h1{
	font-size: 80px; 
	padding: 0;
	margin: 10px 0 10px 0; 
	text-align: center;
}

#navbar-item:link, #navbar-item:visited{
	display: block;
	text-decoration: none;
	padding: 20px 4px 20px 4px;	
	background-color: #3D007A;
	color: #ffffff;
	width: 130px;
	text-align: center;	
	text-transform: uppercase;
}

#navbar-item:hover{
	background-color: #CCAAFF;
	color: #000000;		
}

#circle{
	width: 200px;
	height: 200px;
	border: 5px solid #3D007A;
	display: block;
	border-radius: 50%;
	margin: 0 auto 0 auto;
	padding: 0;
}