.navbar{
	position: fixed;
	font-size: 15px;
	width: 100%;
}

#displayPdf{
	float: right;
	visibility: hidden;
	width: 75%;
	height: 500px;
}

#displayPdf1{
	margin-top: 20px;
	width: 100%;
	height: 500px;
}

#desc-width{
	width: 75%;
}

#logo-width{
	width: 25%;
}

.returnToTop{
	position: fixed;
	width: auto;
	height: 30px;
	float: right;
	background-color: #3D007A;
	display: block;
	right: 10px;
    bottom: 10px;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	visibility: hidden;
	padding: 10px;
	border-radius: 4px;
}

#video1, #video2{
	text-align: center; 
	display: none;
}

.navbar-list{
	list-style-type: none;		
	overflow: hidden;
	padding: 0px 150px 0px 150px;		
	margin: 0px;
	background-color: #3D007A;
}

.navbar-li{
	padding: 0px;
	margin: 0px;
	float: left;
}

a.navbar-item:link, a.navbar-item:visited{
	display: block;
	text-decoration: none;
	padding: 20px 4px 20px 4px;	
	background-color: #3D007A;
	color: #ffffff;
	width: 150px;
	text-align: center;	
	text-transform: uppercase;
	height: inherit;
}

a.navbar-item:hover{
	background-color: #CCAAFF;
	color: #000000;		
}

a.link-button:link, a.link-button:visited, .div-button:visited, .div-button{
	display: block;
	text-decoration: none;
	padding: 20px 4px 20px 4px;
	background-color: #3D007A;
	color: #ffffff;
	width: 200px;
	text-align: center;
	height: inherit;
	margin: 0 auto 0 auto;

}

a.link-button:hover, .div-button:hover{
	background-color: #CCAAFF;
	color: #000000;
	cursor: pointer;
}

.returnToTop:hover{
	background-color: #CCAAFF;
	color: #3D007A;
	cursor: pointer;
}

#project-desc{
	margin: 10px auto 10px auto;
	width: 85%;
}

#img-desc{
	width: 100%;
	-moz-user-select: none;
	-webkit-user-drag: none;
}

#evaluations{
	overflow: hidden;
	background-image: url(../images/3.jpg);
	background-size: cover;
	color: #ffffff;
}

#about{
	background-image: url(../images/2.jpg);
	background-size: cover;
	color: #ffffff;
}

#resume{
	background-color: #363636;
	color: #ffffff;
	overflow: hidden;
}

#bckgndOpacity, #eval-blurb, #about-blurb{
	background-color: rgba(61,0,122,0.7);
	color: #ffffff;
	padding: 10px;
	border-radius: 15px;
}

#intro{
	padding-top: 60px; 
	background-image: url(../images/1.jpg); 
	background-size: cover;
	overflow: hidden;
}

#projects{
	background-color: #595959;
	color: #FFFFff;
}

#logo1, #logo2, #logo3,#logo4, #logo3-hide, #logo2-hide, #logo1-hide, #logo4-hide{
	height: 80px; 
	width: 280px;
	display: block;
}

 #logo3-hide, #logo2-hide, #logo1-hide, #logo4-hide{
	display: none;
}

a:link, a:visited{
	color: #ffffff;
}

a:hover{
	color: #CCAAFF;
}

#contact{
	overflow: hidden;
}

a.contact:link, a.contact:visited{
	color: #000000;
}

a.contact:hover{
	color: #CCAAFF;
}

body{
	margin:0px;
	padding:0px;
	font-family: "Calibri", Sans-serif;
}

.menu{
	height: 50px;
	width: 50px;
	float: left;
	display: none;
	position: fixed;
}

.center{
	padding: 30px 150px 30px 150px;
	font-size: 22px;
}

h1{
	font-size: 80px; 
	padding: 0;
	margin: 10px 0 10px 0; 
	text-align: center;
}
h2{
	font-size: 40px;
	padding: 0;
	margin: 0 0 10px 0; 
	text-align: left;
}

h3 {
	margin: auto;
	font-size: 25px
}

#circle{
	width: 200px;
	height: 200px;
	border: #3D007A solid 5px;
	display: block;
	border-radius: 50%;
	margin: 0 auto 0 auto;
	padding: 0;
	-moz-user-select: none;
	-webkit-user-drag: none;
}